{
  "extends": "airbnb/base",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len": [2, 160, 2, {
      "ignoreUrls": true,
      "ignoreComments": false
    }],
    "quotes": [1, "single", "avoid-escape"],
    "react/display-name": 0,
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/prop-types": [1, { "ignore": ["children", "className"] }],
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/jsx-uses-vars": 1
  }
}
